

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.baseLayer{
    position: relative;
    height: 80px;
    width: 300px;
    background-color: #F4B400;
    z-index: 0;
    border-radius: 10px;
}

.layer{
    position: absolute;
    background-color: #0F9D58;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation: load 3s linear infinite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.frame {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 2;
    top: -6px;
    /* Other styles for .frame */
}
.container{
    position: absolute;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0);
    width: 300px;
    height: 100px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 34px rgb(255 255 255);

}

.text_layer{
    position: relative;

}
h1{
    color: #4285F4;
    white-space: nowrap; 
    margin: 0 auto; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.whiteLayer{
    height: 50px;
    width: 100%;
    margin-left: 30px;
    position: absolute;
    top: 0%;
    background-color: white;
    animation: write 3s forwards linear(0 0%, 0 1.8%, 0.01 3.6%, 0.03 6.35%, 0.07 9.1%, 0.13 11.4%, 0.19 13.4%, 0.27 15%, 0.34 16.1%, 0.54 18.35%, 0.66 20.6%, 0.72 22.4%, 0.77 24.6%, 0.81 27.3%, 0.85 30.4%, 0.88 35.1%, 0.92 40.6%, 0.94 47.2%, 0.96 55%, 0.98 64%, 0.99 74.4%, 1 86.4%, 1 100%) infinite;
}

@keyframes load {
    0% {
        width: 0%;
      }
      100% {
       
        width: 100%;
      }
}
@keyframes write {
    0%{ 
        width: 100%;
        left: 0;
    }
    20% {
        width: 80%;
        left: 20%;
    }40% {
        width: 60%;
        left: 40%;
    }60% {
        width: 40%;
        left: 60%;
    }
    80% {
        width: 20%;
        left: 80%;
    }
    100% {
        width: 0%;
        left: 100%;
    }
}
@keyframes circleLoad {
    0% {
        background-color: #42f45a;
    }
    100% {
        background-color: #f45a42;
    }
}
